@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap");
@import "../node_modules/remixicon/fonts/remixicon.css";

// bootstrap variables
$font-family-sans-serif: "Exo", sans-serif;
$body-bg: hsl(219, 4%, 4%);
$carousel-indicator-height: 10px;
$carousel-indicator-width: 10px;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

// custom css

nav {
  background-color: $body-bg;
}

.title-icon-width {
  height: 1.5rem;
}

.title-color {
  color: hsl(219, 8%, 95%);
}

.title-color:hover {
  color: hsl(219, 69%, 52%);
}

.nav-link:hover {
  color: hsl(219, 69%, 52%) !important;
}

.home-icon {
  width: 50px;
  height: 50px;
  background-color: hsl(219, 4%, 7%);
}

.home-start-button {
  width: 70px;
  height: 70px;
  border: 2px solid hsl(158, 89%, 30%);
}

.home-start-button::before {
  content: "";
  width: 90px;
  height: 90px;
  border: 2px solid hsl(158, 98%, 43%);
  position: absolute;
  border-radius: 50%;
}

.about-text {
  background-color: hsl(0, 0%, 100%, 0.1);
  margin-top: -2.5rem;
  backdrop-filter: blur(16px);
}

.bg-50-black {
  background-color: hsl(219, 4%, 7%);
}

.card-btn-rounded {
  border-radius: 0.375rem 0 0.375rem 0 !important;
}

.custom-carousel-indicators {
  bottom: -70px;
}

.featured-white-car {
  top: 10%;
  left: 40%;
  width: 20%;
}

.featured-map {
  transform: rotate(-19deg);
}

.featured-text-box {
  width: 150px;
  height: 90px;
  background-color: hsl(0, 0%, 100%, 0.1);
  backdrop-filter: blur(16px);
}

.featured-btn {
  height: 60px;
  width: 60px;
  background-color: hsl(219, 4%, 7%);
}

.brand-filtered-btn:hover {
  background-color: hsl(219, 69%, 52%);
  color: white !important;
  opacity: 1 !important;
}

.active-brand-filtered-btn {
  background-color: hsl(219, 69%, 52%) !important;
  border-color: hsl(219, 69%, 52%) !important;
  color: white !important;
  opacity: 1 !important;
}

.featured-offer {
  top: 30%;
  left: 9%;
}

.footer-logo:hover {
  opacity: 1 !important;
}

.footer-ele-title {
  color: hsl(219, 8%, 95%);
}

.car-animation img{
  transition: 0.5s;
}

.car-animation:hover img {
  transform: translate(10px, 10px);
}
